*{
    box-sizing: border-box;
}

.body{
    margin: 0;
    padding: 0;
    background: #F6F6F9;
}

.container{
    width: 1240px;
    padding: 20px 0;
    margin: 0 auto;
    align-items: center;
}


.top{
    display: flex;
    margin-top: 15px;
    margin-bottom: 40px;
}


.link-div{
    width: 330px;
    height: 35px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
}



.top-link{
  width: 300px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  padding: 0 10px;
  text-decoration: none;
  color: #295091;
}


.top-list{
   margin-top: 10px;
    padding: 0;
    width: 260px;
    list-style-type: none;
    display: flex;
}


.top-item{
    margin-left: 30px;
}



.bold{
    margin-right: 5px;
}



.telegram-div{
   display: flex;
 width: 145px;
 height: 40px;
 margin-left: 460px;
 background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
 border-radius: 5px;
}



.logo-telegram{
 margin-top: 7%;
 margin-left: 4%;

}


.telegram-link{
   width: 95px;
   text-decoration: none;
   padding: 10px 8px;
   font-family: 'Rubik';
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
}


/*================================ NAV ======================================*/


.nav-div{
   width: 1200px;
   height: 70px;
   background: #FFFFFF;
   box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
   border-radius: 5px;
   
}


.nav-list{
   width: 1150px;
   list-style-type: none;
   display: flex;
   margin-left: 20px;
   
}


.nav-item{
  margin-top: 20px;
}

.nav-item-2{
    margin-left: -15px;
}

.nav-item-link{
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #515151;
    margin-top: 25px;

}


/*======================================================= rectangle-image =================================================*/


.rectangle-image{
    margin-top: 20px;
}


/*================================================================ main-Hero =================================================================*/

.hero-info{
    display: flex;
    margin-left: 5px;
    width: 1200px;
    background: #F6F6F9;
    border-radius: 5px;
}


.hero-right{
    width: 310px;
    display: flex;
    margin-left: 5px;
}


.hero-right-image{
    margin-top: 10px;
}

.line{
    width: 2px;
    margin-top: 2px;
    height: 70px;
    background: #EB5569;
    
}



.child-hero-right-paragraph{
    width: 232px;
    margin-left: 20px;
}




.hero-left{
    width: 260px;
    display: flex;
    margin-left: 30px;
}


.hero-left-image{
    margin-top: 18px;
}


.child-hero-left-paragraph{
    margin-left: 15px;
}


.paragraph-red{
    color: red
}


.paragraph-green{
    color: green;
}


.child-hero-left-paragraph1{
    margin-top: -10px;
    margin-left: 15px;
}


.opacity-line{
    margin-top: 10px;
    width: 2px;
    height: 49px;
    background: #F4CCD1;
}



/*================================================================== main-ROW ==============================================================*/

.row{
    margin-left: -7px;
}


.container-row{
    width: 1200px;
    
}


.row-sections{
    display: flex;
    flex-wrap: wrap;
    
}

.row-part{
    margin-left: 15px;
}

.row-part-image{
    background: url(image.png);
    border-radius: 5px;
}


.row-part-heading{
    width: 380px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}



.row-part-time{
    width: 125px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
    
    
}

.article-part{
    display: flex;
    width: 1200px;
    height: 91px;
    left: 119px;
    top: 1103px;
    
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
    margin-left: 20px;
}

.article-image{
    margin-top: 12px;
    margin-left: 8px;
}

.article-heading{
    width: 610px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 18px;
}


.article-link{
    width: 260px;
    height: 42px;
    margin-top: 15px;
    margin-left: 225px;
    padding: 10px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    text-decoration: none;
    
}

.politika{
    display: flex;
    margin-left: 15px;
    
}

.part-politika{
    display: flex;
}

.politika-image{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    
}


.politika-heading{
    width: 430px;
    margin-left: 12px;
    margin-bottom: 5px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}

.politika-paragraph{
    width: 512px;
    margin-top: 0;
    margin-left: 12px;
    margin-bottom: 5px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #434343;    
}

.politika-date{
    width: 512px;
    margin-left: 12px;
    margin-bottom: 5px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
}


.news{
    width: 390px;
    height: 470px;
    margin-left: 15px;
    background: #F6F6F9;
    border-radius: 5px;
}


.news-heading{
    width: 280px;
    margin-bottom: 6px;
    margin-left: 10px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
}


.news-paragraph{
    width: 340px;
    margin-bottom: 11px;
    margin-left: 10px;
    font-family: Rubik;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #202020;
}


.news-date{
    width: 115px;
    margin-bottom: 36px;
    margin-left: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px; 
    color: #7688A4;
    
}


.news-line{
    width: 346px;
    height: 4px;
    background: red;
    margin-bottom: 18px;
    margin-left: 10px;
}

.ucell{
    margin-top: 110px; 
    margin-left: -9px;
}


.dunno{
    width: 211px;
    height: 42px;
    margin-top: 57px;
    margin-bottom: 50px;
    margin-left: 200px;
    background: #295093;
    border-radius: 5px;
}

.big-news{
    width: 150px;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 10px 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    
}


.footer{
    width: 1440px;
    margin-left: -100px;
    background: #295093;
    
}


.footer-list{
    list-style-type: none;
    display: flex;
}

.footer-item-link{
    width: 170px;
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    
}

.footer-link-paragraph{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 35px;
    background: #133C82;
    border-radius: 5px;  
}

.footer-item-paragraph{
    width: 580px;
    margin-left: 200px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF
}





.footer-item-link2{
    text-decoration: none;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 5px;
    display: flex;
    width: 130px;
    align-items: center;
    color: #295093;
    background: #FFFFFF;
    border-radius: 5px;
}



.footer-info{
    display: flex;
    list-style-type: none;
}


.info-item-bigger{
    width: 360px;
    
}

.info-paragraph{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.info-item-middle{
    margin-top: 15px;
    width: 170px;
    margin-left: 110px;
}

.info-link{
    margin-bottom: 7px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    
    
}


.info-item-small{
    width: 225px;
    margin-top: 15px;
    margin-left: 115px;
}





