/* rubik-regular - latin_cyrillic-ext */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v20-latin_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v20-latin_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v20-latin_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v20-latin_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v20-latin_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v20-latin_cyrillic-ext-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-500 - latin_cyrillic-ext */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v20-latin_cyrillic-ext-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v20-latin_cyrillic-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v20-latin_cyrillic-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v20-latin_cyrillic-ext-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v20-latin_cyrillic-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v20-latin_cyrillic-ext-500.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-700 - latin_cyrillic-ext */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v20-latin_cyrillic-ext-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v20-latin_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v20-latin_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v20-latin_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v20-latin_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v20-latin_cyrillic-ext-700.svg#Rubik') format('svg'); /* Legacy iOS */
  }

  *{
     box-sizing: border-box;
  }

  body{
      margin: 0;
      padding: 0;
  }

  .container{
      width: 1240px;
      margin: 0 auto;
      padding: 0 20px;
      align-items: center;
  }


  /*================================ header-top ======================================*/

  .top{
      display: flex;
      margin-top: 15px;
      margin-bottom: 40px;
  }


  .link-div{
      width: 330px;
      height: 35px;
      background: #FFFFFF;
      box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
      border-radius: 5px;
  }



  .top-link{
    width: 300px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    padding: 0 10px;
    text-decoration: none;
    color: #295091;
  }


  .top-list{
     margin-top: 10px;
      padding: 0;
      width: 260px;
      list-style-type: none;
      display: flex;
  }


  .top-item{
      margin-left: 30px;
  }



  .bold{
      margin-right: 5px;
  }



 .telegram-div{
     display: flex;
   width: 145px;
   height: 40px;
   margin-left: 460px;
   background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
   border-radius: 5px;
 }



 .logo-telegram{
   margin-top: 7%;
   margin-left: 4%;

 }

 
 .telegram-link{
     width: 95px;
     text-decoration: none;
     padding: 10px 8px;
     font-family: 'Rubik';
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     color: #FFFFFF;
 }


 /*================================ NAV ======================================*/


 .nav-div{
     width: 1200px;
     height: 70px;
     background: #FFFFFF;
     box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
     border-radius: 5px;
     
 }


 .nav-list{
     width: 1150px;
     list-style-type: none;
     display: flex;
     
     margin-left: 20px;
     
 }

 
 .nav-item{
    margin-top: 30px;
 }

  .nav-item-2{
      margin-left: -15px;
  }


  .nav-item-link{
      text-decoration: none;
      margin-left: 20px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 23px;
      color: #515151;
      margin-top: 25px;

  }



  /*======================================================= rectangle-image =================================================*/


  .rectangle-image{
      margin-top: 20px;
  }

  /* <!--------------------------------------------------- hero ---------------------------------------------> */

  .hero{
      display: flex;
  }

  /* <!--------------------------------------------------- hero-left ---------------------------------------------> */
  .hero-left{
      width: 600px;

  }


  .hero-left-heading{
      width: 180px;
      margin-bottom: 12px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000
  }


  .hero-left-input{
      width: 600px;
      height: 50px;
      margin-bottom: 20px;
  }



  .left-input-big{
      margin: 20px 0;
      width: 600px;
      height: 300px;
  }


  .left-input-small{
      display: block;
      width: 221px;
      height: 50px;
      margin-bottom: 20px;
  }


  .hero-left-button{
      width: 221px;
      background: #295093;
      border: 2px solid rgba(40, 81, 147, 0.54);
      border-radius: 5px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 40px;
      color: #FFFFFF;
  }


  /* <!--------------------------------------------------- hero-right ---------------------------------------------> */

  .hero-right{
      /* display: flex; */
      width: 510px;
      height: 280px;
      margin-top: 60px;
      margin-left: 90px;
      background: #FFFFFF;
      border: 2px solid #BCC3CD;
      border-radius: 5px;
  }

  .tough{
      display: flex;
  }



  .hero-right-paragraph{
      width: 330px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      margin-left: 190px;
      margin-bottom: 1px;
      color: #295091;
  }



  .hero-right-info-paragraph{

      width: 165px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #888888;
      margin-bottom: 5px;
      margin-left: 5px;
  }



  .hero-right-social{
      margin-left: 10px;
  }



  .hero-right-social-paragraph{
    width: 165px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
    margin-bottom: 1px;
    margin-left: 90px;
  }



  .social-list{
      margin-top: 30px;
      margin-bottom: 10px;
      margin-left: 125px;
      display: flex;
      list-style-type: none;
  }



  .smm{
      margin-left: 15px;
  }



  .telegram-bold-div{
   display: flex;
   width: 145px;
   height: 40px;
   margin-left: 165px;
   background: #295091;
   border-radius: 5px;
   margin-top: 2px;
}



.logo-telegram{
  margin-top: 7%;
  margin-left: 4%;

}


.telegram-link{
    width: 95px;
    text-decoration: none;
    padding: 10px 8px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.store-list{
    display: flex;
    list-style-type: none;
    margin-top: 15px;
    margin-left: 20px;
}

.store-item{
    margin-left: 15px;
}

.store{
    width: 110px;
    height: 35px;
    background: rgba(41, 80, 145, 0.19);
    border-radius: 5px;
}



/*=================================================== footer =========================================================*/
  
.footer{
    width: 1440px;
    /* height: 225px; */
    background: #295093;
    margin-left: -115px;
}


.footer-list{
    list-style-type: none;
    display: flex;
    
}

.footer-item-link{
    width: 170px;
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
   
}

.footer-link-paragraph{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    width: 200px;
    height: 35px;
    background: #133C82;
    border-radius: 5px;  
}

.footer-item-paragraph{
    width: 580px;
    margin-left: 200px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF
}

/* .last-item{
    margin-top: 10px;
    margin-left: 10px;
} */



.footer-item-link2{
    text-decoration: none;
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    width: 130px;
    align-items: center;
    color: #295093;
    background: #FFFFFF;
    border-radius: 5px;
}

.footer-info{
    display: flex;
    list-style-type: none;
}


.info-item-bigger{
  width: 360px;

}

.info-paragraph{
font-family: 'Rubik';
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}

.info-item-middle{
    margin-top: 15px;
    width: 170px;
    margin-left: 110px;
}

.info-link{
    margin-bottom: 7px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;


}


.info-item-small{
    width: 225px;
    margin-top: 15px;
    margin-left: 115px;
}
